<div class="end">
	<div class="content-int">
		<div class="end--text">In the time it took you to scroll to the end of this list, <%= tonnesCoal %> tonnes of coal have been burnt. Support our campaign.</div>
		<div class="social-int">
			<a href="https://twitter.com/intent/tweet?text=<%= encodeURIComponent(headerData.twittertext) %>&url=http://gu.com/p/47b7h/stw" target="_blank" class="social-icon-int twitter" data-link-name="social twitter climate-names"><i class="big"></i><span class="share-text-int big">Tweet your support</span></a>
		</div>
	</div>
</div>